{% extends "base.html" %}

{% block content %}
  
  <div class="container">
  
    <div class="page-header">
      <h1>About GradPay</h1>
    </div>
    
    <h2>Contact</h2>
    <div>
      <ul>
        <li>Do you have questions the survey or what we do with your answers?</li>
        <li>Are there questions we aren't asking but should be?</li>
        <li>Do you want to see more tables and visualizations?</li>
      </ul>
      <div>
        <a class="btn btn-large btn-primary" href="mailto:gradpay.survey@gmail.com">Contact us</a>
      </div>
    </div>

    <h2>Source code</h2>
    <div>
      All source code for GradPay is available on GitHub <a href="https://github.com/jmcarp/gradpay">here</a>.
    </div>

    <h2>Data sources</h2>
    <ul>
      <li>
        Information about institutions in the US were taken from the <a href="http://classifications.carnegiefoundation.org/">Carnegie Classification of Institutions of Higher Education</a>.
      </li>
      <li>
        Information about fields of study is taken from the National Science Foundation (NSF) Survey of Science and Engineering Doctorates (SED), available <a href=" http://www.nsf.gov/statistics/sed/2011/data_table.cfm">here</a>.
      </li>
    </ul>
  
  </div>

{% endblock %}
