{% extends "base.html" %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Frequently Asked Questions</h1>
    </div>

    <ul>
      
      <li>
        <p>Q: Some of the stipends on GradPay are too high (or low!) How could any student get paid so much (or so little)?</p>
        <p>A: We do our best to collect accurate stipend data. If respondents provide unusually high or low stipend estimates, we ask them to verify that they've given the correct number. Ultimately, though, we trust our respondents: if you tell us you get a generous stipend, we'll believe you.
      </li>

      <li>
        <p>Q: Who runs GradPay? Why did you build it?</p>
        <p>A: At the moment, GradPay is built and operated by one person: me! My name is Joshua Carp, and I'm currently a PhD student in Psychology at the University of Michigan. I started the site because I noticed that PhD and Master's students in different departments get very different stipends and benefits, and I wanted to get a more systematic view of funding differences across departments nationwide.</p>
      </li>

      <li>
        <p>Q: Why isn't my university or department included in the survey options?</p>
        <p>A: Our lists of universities and departments come from the <a href="http://classifications.carnegiefoundation.org/">Carnegie Classification of Institutions of Higher Learning</a> and the <a href="http://www.nsf.gov/statistics/srvydoctorates/">National Science Foundation Survey of Earned Doctorates</a>, respectively. If you don't see your university or department in those lists, please choose the closest available option instead. And feel free to <a href="mailto:gradpay.survey@gmail.com">email us</a> and let us know if your university is missing.</p>
      </li>

      <li>
        <p>Q: Why do you want my email address? Are you going to sell it to spammers?</p>
        <p>A: We require that all survey respondents provide a valid academic email address. This lets us verify that all respondents are affiliated with a university, and that they are actually the people they claim to be. Your email address will never be displayed with your data on the site, and we won't sell it to anyone.</p>
      </li>
      
    </ul>
    

  </div>

{% endblock %}
