{% extends "base.html" %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="/static/css/choro.css" />

<script src="http://d3js.org/d3.v2.min.js?"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<script type="text/javascript">
    
    // Initialize variables
    var data, cscale, quantize;
    
    function choro(selector, iv, dv) {
        
        //// Initialize variables
        //var data, cscale, quantize;

        svg = d3.select(selector)
            .append('svg:svg');
        
        if (iv == 'county_code') {
            counties = svg.append('svg:g')
                .attr('id', 'counties');
        }
        
        states = svg.append('svg:g')
            .attr('id', 'states');
        
        $.ajaxSetup({'async' : false});

        if (iv == 'county_code') {
            $.getJSON('/static/geo/us-counties.json', function(json) {
                counties.selectAll('path')
                    .data(json.features)
                    .enter().append('path')
                    .attr('d', d3.geo.path());
            });
        }
        
        $.getJSON('/static/geo/us-states.json', function(json) {
            states.selectAll('path')
                .data(json.features)
                .enter().append('path')
                .attr('d', d3.geo.path());
        });

        $.getJSON('/choro_json?iv=' + iv + '&dv=' + dv, function(json) {
            data = json;
            cscale = d3.scale.linear()
                .domain([0, d3.max(d3.values(data))])
                .range(['blue', 'red']);
            function quantize(d) {
                return cscale(data[d.id]);
            }
            if (iv == 'county_code') {
                counties.selectAll('path')
                    .style('fill', quantize);
            } else {
                states.selectAll('path')
                    .style('fill', quantize);
            }
        });
        
        $.ajaxSetup({'async' : true});

    }

    </script>

{% endblock %}

{% block content %}
    
    <div class="container">
        
        <h4>Distribution of Stipends</h4>
        
        <div id="svg-holder"></div>

    </div>
    
{% endblock %}
