{% extends "base.html" %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Questions? Comments?</h1>
    </div>

    <ul class="unstyled">
      <li>Do you have questions the survey or what we do with your answers?</li>
      <li>Are there questions we aren't asking but should be?</li>
      <li>Do you want to see more tables and visualizations?</li>
    </ul>
    
    <div>
      <a class="btn btn-large btn-primary" href="mailto:gradpay.survey@gmail.com">Contact us</a>
    </div>

  </div>

{% endblock %}
