{% extends "base.html" %}

{% block extrahead %}
  
  {{ form.media.css }}
  {{ form.media.js }}
  <link href="{{ STATIC_URL }}/bootstrap-autocomplete.css" rel="stylesheet">

  <style>
     .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    } 
  </style>

{% endblock %}

{% block content %}

  <form action="/survey/" method="post">{% csrf_token %}

    <!-- Non-field errors -->
    {% if form.non_field_errors %}
      <ul class="errorlist unstyled">
      {% for error in form.non_field_errors %}
        <li class="label label-important">{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <!-- Fields -->
    {% for fieldset in form.fieldsets %}
      <fieldset class="{{ fieldset.classes }}">
      {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
      {% endif %}
      {% if fieldset.description %}
        <p class="description">{{ fieldset.description }}</p>
      {% endif %}
      {% for field in fieldset %}
        {% if field.is_hidden %}
          {{ field }}
          {% if field.help_text %}
            {{ field.help_text }}
          {% endif %}
        {% else %}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <br />
            <span class="label">
              {{ field.help_text }}
            </span>
          {% endif %}
          {% if field.errors %}
            <br />
            <span class="label label-important">
              {{ field.errors|join:", " }}
            </span>
          {% endif %}
          <div>&nbsp;</div>
        {% endif %}
      {% endfor %}
      </fieldset>
    {% endfor %}

    <!-- Submit button -->
    <button class="btn btn-primary" type="submit">Submit</button>

  </form>

{% endblock %}
