{% extends "base.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to GradPay!</h1>
  </div>

  <p>
    How much do graduate students pay for their degrees? How much do they get paid in stipends--if anything? Which schools and departments provide the best support for students?
  </p>

  <p>
    GradPay is trying to answer these questions and more by asking graduate students about the support they get from their programs. Create an <a href="/accounts/register/">account</a> and fill out the <a href="/survey/">survey</a> today, or check out our <a href="/results/">results</a> so far.
  </p>
  
{% endblock %}
