{% extends "base.html" %}

{% block extrahead %}

<style>
  
  .icondiv {
    text-align: center;
  }
  .icondiv i {
    font-size: 64px;
  }
  .icondiv a, a:visited, a:hover {
    text-decoration: none;
    color: #0066CC;
  }

</style>

{% endblock %}

{% block content %}
  
  <div class="container">

  <div class="page-header">
    <h1>Welcome to GradPay!</h1>
  </div>

  <p class="lead">
    {% comment %}
    How much do graduate students pay for their degrees? How much do they get paid in stipends--if anything? Which schools and departments provide the best support for students?
    GradPay is trying to answer these questions and more by asking graduate students about the support they get from their programs.
    {% endcomment %}
    Stipends, responsibilities, and benefits vary widely among graduate students. Some students are paid a healthy stipend to complete their programs--and others take out loans to pay for theirs. Some students work as teaching assistants every term, while others are never required to teach.
    Which institutions and departments provide the best support for their students? And how does your program stack up?
  </p>
  
  <br />
  
  <div class="row">
    <div class="span4 icondiv">
      <a href="/survey/">
        <div><i class="icon-edit"></i></div>
        <div><h3>Take the survey</h3></div>
      </a>
    </div>
    <div class="span4 icondiv">
      <a href="/results/">
        <div><i class="icon-search"></i></div>
        <div><h3>View the results</h3></div>
      </a>
    </div>
    <div class="span4 icondiv">
      <a href="/about/">
        <div><i class="icon-question-sign"></i></div>
        <div><h3>About</h3></div>
      </a>
    </div>
  </div>
  
  </div>
  
{% endblock %}
