{% extends "base.html" %}

{% block content %}
    
    <div class="container">

        <div class="page-header">
            <h2>How to find your LinkedIn public profile URL</h2>
        </div>

        <ol>
            <li>Log in to your <a href="http://www.linkedin.com/" target="_blank">LinkedIn</a> account.</li>
            <li>Click on the "Profile" link at the top left of the page.</li>
            <li>Look for the link under your profile photo. It should begin with www.linkedin.com/pub/ or www.linkedin.com/in/</li>
        </ol>

    </div>

{% endblock %}
