{% extends "base.html" %}

{% block extrahead %}

<script type="text/javascript" src="http://platform.linkedin.com/in.js">/*
    api_key: ad3ikf73o1uc
    authorize: true
*/</script>

<script type="text/javascript">
    function onLinkedInLoad() {
        console.log('loaded');
        IN.Event.on(IN, 'auth', onLinkedInAuth);
    }
    function onAuth() {
        console.log('authed');
        IN.API.Profile('me')
            .fields('public-profile-url')
            .result(function(result) {
                console.log('resulted');
                console.log(result);
            }
        )
    }
</script>

{% endblock %}

{% block content %}
    
    <div class="container">
        <script type="IN/login" data-onAuth="onAuth"></script>
        <div class="page-header">
            <h2>How to find your LinkedIn public profile URL</h2>
        </div>

        <ol>
            <li>Log in to your <a href="http://www.linkedin.com/" target="_blank">LinkedIn</a> account.</li>
            <li>Click on the "Profile" link at the top left of the page.</li>
            <li>Look for the link under your profile photo. It should begin with www.linkedin.com/pub/ or www.linkedin.com/in/</li>
        </ol>

    </div>

{% endblock %}
