{% extends "base.html" %}

{% block extrahead %}
  
  {{ form.media.css }}
  {{ form.media.js }}

  <link href="{{ STATIC_URL }}/bootstrap-autocomplete.css" rel="stylesheet">

  <style>
     .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    } 
    .field-width {
        width: 220px;
    }
    .label-form {
        margin-left: 12px;
    }
    .required {
        color: #dd514c;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      $("i[rel='tooltip']").tooltip();
    });
  </script>

{% endblock %}

{% block content %}

lol {% url survey %}
foo {{ request.build_absolute_uri }}
<form class="form-horizontal" action="/survey/" method="post">{% csrf_token %}

  <!-- Non-field errors -->
  {% if form.non_field_errors %}
    <ul class="errorlist unstyled">
    {% for error in form.non_field_errors %}
      <li class="label label-important">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <!-- Fields -->
  {% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}">
    {% if fieldset.legend %}
      <legend>{{ fieldset.legend }}</legend>
    {% endif %}
    {% if fieldset.description %}
      <p class="description">{{ fieldset.description }}</p>
    {% endif %}
    {% for field in fieldset %}
      {% if field.is_hidden %}
        {{ field }}
        {% if field.help_text %}
          {{ field.help_text }}
        {% endif %}
      {% else %}
        <div class="control-group" {{ field.row_attrs }}>
          <label class="control-label" for="{{ field.auto_id }}">
            {% if field.field.required %}
              <span class="required">*</span>
            {% endif %}
            {{ field.label }}
          </label>
          <div class="controls">
            {{ field }}
            {% if field.errors %}
              <span class="label label-important label-form">
                {{ field.errors|join:", " }}
              </span>
            {% endif %}
            {% if field.help_text %}
              <br />
              <span class="help-inline field-width">
                {{ field.help_text }}
              </span>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </fieldset>
  {% endfor %}

  <!-- Submit button -->
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>

</form>

{% endblock %}
