{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="/static/css/scatter.css" />
<link rel="stylesheet" type="text/css" href="/static/css/axis.css" />

<script src="http://d3js.org/d3.v2.min.js?"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="{{ STATIC_URL }}/js/scatter.js"></script>

<script type="text/javascript">
    
    // 
    $(document).ready(function() {
        scatter.init();
        //scatter.scatter('', 'stipend', 'teaching_num');
    });

    function make_scatter() {
        
        var xvar = $('[name="x_variable"]').val(),
            yvar = $('[name="y_variable"]').val();

        var grouping_vars = $('[name="grouping_variables"]:checked')
            .map(function() {
                return $(this).val();
            })
            .get();

        scatter.scatter('', xvar, yvar, grouping_vars);

    }

</script>

{% endblock %}

{% block content %}
    
    <div class="container">
        
        <br />

        <div>
            
            {% crispy form %}
                       
        </div>

        <h4>Distribution of Stipends</h4>
        

        <div id="svg-holder"></div>

    </div>
    
{% endblock %}
