{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}
  
  {{ form.media.css }}
  {% comment %}{{ form.media.js }}{% endcomment %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dj.selectable.js"></script>

  <link href="{{ STATIC_URL }}bootstrap-autocomplete.css" rel="stylesheet">

  <style>
     .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    } 
    .control-group {
        padding-bottom: 10px;
    }
  </style>

  <script type="text/javascript">

    $(document).ready(function() {
      
      // Hack: Set margin-top property of help-block items
      // Otherwise tooltips clear margin
      // See Issue #6479
      $('.help-block').css('margin-top', '10px');
      
      // Add tooltips from <option>s to <select>s
      // Adapted from http://stackoverflow.com/questions/13126144/
      // and http://jsfiddle.net/mM8sx/
      $('select').each(function() {
        
        // Look for <select>s whose <option>s have attr parent-title
        if ($(this).find('option[parent-title]').length == 0) {
          return true;
        }
        
        // Get <select> id
        id = $(this).attr('id');
        
        // Destroy tooltip on mouseleave
        $(this).on('mouseleave', function(e) {
          $('#' + id).tooltip('destroy');
        });
        
        // Add tooltip on mouseover
        $(this).on('mouseover', function(e) {
          e = $(e.target);
          place = e.attr('parent-title-placement');
          place = place ? place : 'right';
          if (e.is('option')) {
            $('#' + id).tooltip('destroy');
            $('#' + id).tooltip({
              trigger: 'manual',
              placement: place,
              title: e.attr('parent-title')
            }).tooltip('show');
          }
        });

      });
      
    });
  </script>

{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Graduate Support Survey</h1>
    <p>Take the survey! All responses are confidential and will not be displayed with your account information.</p>
  </div>

  {% crispy form %}

{% endblock %}
