{% extends "base.html" %}

{% block content %}

  <div class="container">

    <div class="page-header">
      <h1>Almost done...</h1>
    </div>

    <div>
      You should receive a confirmation email from us in a moment. Please click on the link in the email to confirm your responses. Your data will not be included in the results until you complete the confirmation!
    </div>

    <div>
      Then compare your program to others in the <a href="/results/">results</a> section or <a href="/contact/">contact us</a> with feedback about the survey.
    </div>

  </div>

{% endblock %}
