<style>
div .social-group {
  float: left;
  width: auto;
}
div .social {
  font-size: 18px;
  display: inline-block;
  float: left;
  padding: 0px 8px 0px 0px;
}
div .fb_reset {
  display: inline;
}
</style>
