<!--
<div width="32" height="20" class="fb-like" data-href="http://gradpay.herokuapp.com/" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></div>
-->

<!--
<fb:like href="http://gradpay.herokuapp.com" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
-->

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgradpay.herokuapp.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=5085194287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
