
/* Axis style */
/* From http://alignedleft.com/tutorials/d3/axes/ */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    /*shape-rendering: crispEdges;*/
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
